<html>
<header>
    
    <link href="./css/styles.css" rel="stylesheet">
    <script src="js/jquery-3.4.0.js"></script>
    <script src="js/tateti.js"></script>
</header>

<body>
    <h1 id="turnoJugador" for="Name">Haz click en cualquier recuadro para comenzar</h1>
    <table style="" border="1" id="tabla">
        <tr>
            <td align="center" id="0" ; onclick="setX(this)"> </td>
            <td align="center" id="1" onclick="setX(this)"> </td>
            <td align="center" id="2" onclick="setX(this)"> </td>
        </tr>
        <tr>
            <td align="center" id="3" onclick="setX(this)"> </td>
            <td align="center" id="4" onclick="setX(this)"> </td>
            <td align="center" id="5" onclick="setX(this)"> </td>
        </tr>
        <tr>
            <td align="center" id="6" onclick="setX(this)"> </td>
            <td align="center" id="7" onclick="setX(this)"> </td>
            <td align="center" id="8" onclick="setX(this)"> </td>
        </tr>
    </table>

    <br>
    <button onclick="Reset()">Reset</button>
    <div id="textoGanador"></div>
</body>

</html>